* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDF5E6;
}

.main-container {
    border: 2px solid;
    color: black;
    width: 50%;
    height: 60vh;
    margin-left: 25%;
    margin-top: 100px;
    border-radius: 20px;
}

.first-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 32%;
    border-bottom: 2px solid;
    color: black;
    
    
}

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 32%;
    border-bottom: 2px solid;
    color: black;
}

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 36%;
    color: black;
}


#firstBox{
    width: 40%; 
    height: 100%;
    border-right: 2px solid black;
    border-top-left-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#secondBox {
    width: 40%;
    height: 100%;
    border-right: 2px solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thirdBox {
    width: 40%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
}


#fourthBox {
    width: 40%; 
    height: 100%;
    border-right: 2px solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


#fifthBox {
    width: 40%; 
    height: 100%;
    border-right: 2px solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sixthBox {
    width: 40%; 
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seventhBox {
    width: 40%; 
    height: 100%;
    border-right: 2px solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
}

#eighthBox {
    width: 40%; 
    height: 100%;
    border-right: 2px solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ninthBox {
    width: 40%; 
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 20px;
}

.firstRow, .secondRow, .thirdRow {
    background-color: white;
}

.firstRow:hover, .secondRow:hover, .thirdRow:hover{
    background-color: #DCDCDC;
    cursor: pointer;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

#xButton, #oButton{
    width: 240px;
    background-color: white;
    height: 30px;
    font-weight: 500;
    font-size: 20px;
}

#xButton:hover, #oButton:hover{
    cursor: pointer;
    background-color: #F8F8FF;
}

#winner{
    font-size: 35px;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    visibility: hidden;
}
